/*BootStrap Adjustments*/
@media (max-width: 749px) {
  .container-fluid, .row {
    padding:0px;
  }
  .navbar-header {
    margin:0px;
  }
}

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

/*Hosuing list object styling*/
.housing-frame{
    border:solid 0px black;
    position:relative;
}

.housing-frame a{
    text-decoration:none !important;
    color:#000 !important;
}

.housing-title{

}

.housing-description{

}

.housing-rooms{

}

.housing-fee{

}

.housing-size{

}

.housing-location{

}

.housing-category{
    display:block;
    clear:both;
}

/*Filter styling*/

/**/
input[type=range].roomRange {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.8px 0;
}
input[type=range].roomRange:focus {
  outline: none;
}
input[type=range].roomRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fc9220;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].roomRange::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range].roomRange:focus::-webkit-slider-runnable-track {
  background: #cadef0;
}
input[type=range].roomRange::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fc9220;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].roomRange::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].roomRange::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].roomRange::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].roomRange::-ms-fill-upper {
  background: #fc9220;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].roomRange::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].roomRange:focus::-ms-fill-lower {
  background: #fc9220;
}
input[type=range].roomRange:focus::-ms-fill-upper {
  background: #cadef0;
}

